<% include layout %>
<div class="row">
  	<div class="column side">	
  	</div>
	<div class="column middle">    
	<h2>Seller SignIn</h2>
		<form action="/login" method="POST">
			<label>Email </label>
			<div class="col-sm-10">
				<input name="username" type="text">
			</div>
			<br>			
			<label>Password </label>
			<div class="col-sm-10">
				<input name="password" type="password">
			</div>
			
			<button type="submit" value="Save">Login</button>
		</form>	
	<br>
</div>